.categories {
  margin-top: 2rem;
  display: flex;
  text-wrap: nowrap;
  gap: 1.3rem;
  overflow: scroll;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categoryItem {
  font-size: 0.8rem;
  color: #95adf3;
  cursor: pointer;
}

.active {
  color: #fff;
  font-weight: bold;
}
