.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  padding-inline: 2rem;
  background: #fff;
  z-index: 4;
  position: relative;
}

.footerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerButtonText {
  font-size: 0.5rem;
  font-weight: 600;
}
